video {
	border: 1px solid black;
}

button {
	cursor: pointer;
}

#controls {
	border: 1px solid red;
}

/* style the play/pause button */
#playbtn {
	width: 50px;
	height: 20px;
	padding: 10px 10px;
	border-radius: 25px;
	background-color: red;
}
